#images{
    background-image: url("https://images.pexels.com/photos/7005503/pexels-photo-7005503.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    width: 100%;
    height: 500px;

}
.navbar-form{
    margin-top: 200px;
    width: 300px;
}